<h2 class="content-block">Sản phẩm</h2>
<ul class="menu">
  <li><a href="#">Trang chủ</a></li>
  <li><a href="#">Giới thiệu</a></li>
  <li><a href="#">Dịch vụ</a></li>
  <li><a href="#">Bài viết</a></li>
  <li><a href="#">Liên hệ</a></li>
</ul>
<div class="select-box-container">
  <select name="select-box-1" id="select-box-1">
    <option value="option-1">Option 1</option>
    <option value="option-2">Option 2</option>
    <option value="option-3">Option 3</option>
  </select>

  <select name="select-box-2" id="select-box-2">
    <option value="option-1">Option 1</option>
    <option value="option-2">Option 2</option>
    <option value="option-3">Option 3</option>
  </select>

  <select name="select-box-3" id="select-box-3">
    <option value="option-1">Option 1</option>
    <option value="option-2">Option 2</option>
    <option value="option-3">Option 3</option>
  </select>

  <select name="select-box-4" id="select-box-4">
    <option value="option-1">Option 1</option>
    <option value="option-2">Option 2</option>
    <option value="option-3">Option 3</option>
  </select>

  <select name="select-box-5" id="select-box-5">
    <option value="option-1">Option 1</option>
    <option value="option-2">Option 2</option>
    <option value="option-3">Option 3</option>
  </select>
</div>
<div class="select-box-container">
  <select name="select-box-1" id="select-box-1">
    <option value="option-1">Option 1</option>
    <option value="option-2">Option 2</option>
    <option value="option-3">Option 3</option>
  </select>
  <select name="select-box-2" id="select-box-2">
    <option value="option-1">Option 1</option>
    <option value="option-2">Option 2</option>
    <option value="option-3">Option 3</option>
  </select>

  <select name="select-box-3" id="select-box-3">
    <option value="option-1">Option 1</option>
    <option value="option-2">Option 2</option>
    <option value="option-3">Option 3</option>
  </select>
</div>


<div class="grid-container">
  <div class="grid-item">
    <div class="item-wrapper">
      <img src="https://via.placeholder.com/300x200" alt="Ảnh 1">
      <div class="buttons">
        <button>Mua</button>
        <button>Thêm vào giỏ hàng</button>
      </div>
    </div>
    <p>Mô tả cho ảnh 1</p>
  </div>
  <div class="grid-item">
    <div class="item-wrapper">
      <img src="https://via.placeholder.com/300x200" alt="Ảnh 2">
      <div class="buttons">
        <button>Mua</button>
        <button>Thêm vào giỏ hàng</button>
      </div>
    </div>
    <p>Mô tả cho ảnh 2</p>
  </div>
  <div class="grid-item">
    <div class="item-wrapper">
      <img src="https://via.placeholder.com/300x200" alt="Ảnh 3">
      <div class="buttons">
        <button>Mua</button>
        <button>Thêm vào giỏ hàng</button>
      </div>
    </div>
    <p>Mô tả cho ảnh 3</p>
  </div>
  <div class="grid-item">
    <div class="item-wrapper">
      <img src="https://via.placeholder.com/300x200" alt="Ảnh 4">
      <div class="buttons">
        <button>Mua</button>
        <button>Thêm vào giỏ hàng</button>
      </div>
    </div>
    <p>Mô tả cho ảnh 4</p>
  </div>

  <div class="grid-item">
    <div class="item-wrapper">
      <img src="https://via.placeholder.com/300x200" alt="Ảnh 1">
      <div class="buttons">
        <button>Mua</button>
        <button>Thêm vào giỏ hàng</button>
      </div>
    </div>
    <p>Mô tả cho ảnh 1</p>
  </div>
  <div class="grid-item">
    <div class="item-wrapper">
      <img src="https://via.placeholder.com/300x200" alt="Ảnh 2">
      <div class="buttons">
        <button>Mua</button>
        <button>Thêm vào giỏ hàng</button>
      </div>
    </div>
    <p>Mô tả cho ảnh 2</p>
  </div>
  <div class="grid-item">
    <div class="item-wrapper">
      <img src="https://via.placeholder.com/300x200" alt="Ảnh 3">
      <div class="buttons">
        <button>Mua</button>
        <button>Thêm vào giỏ hàng</button>
      </div>
    </div>
    <p>Mô tả cho ảnh 3</p>
  </div>
  <div class="grid-item">
    <div class="item-wrapper">
      <img src="https://via.placeholder.com/300x200" alt="Ảnh 4">
      <div class="buttons">
        <button>Mua</button>
        <button>Thêm vào giỏ hàng</button>
      </div>
    </div>
    <p>Mô tả cho ảnh 4</p>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
