.menu {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0 0 0 20px;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    display: block;
    padding: 10px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #eee;
    color: #000;
}

.select-box-container {
    display: flex;
    justify-content: flex-start;
    /* căn trái hết */
    align-items: center;
    margin-top: 2%;
    padding: 0 0 10px 20px;
}

select {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
    /* margin trái 10px */
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    position: relative;
    /*Thêm thuộc tính position relative*/
}

.item-wrapper {
    position: relative;
    /*Thêm thuộc tính position relative*/
}

.grid-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.buttons {
    display: none; /* ẩn các button ban đầu */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 50%;
    text-align: center;
    padding: 10px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.buttons button {
    white-space: nowrap;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    height: 40px;
}
.buttons button:hover {
    background-color: #0069d9;
    border-radius: 2px;
    /* transition: background-color 0.3s ease; */
}

.item-wrapper:hover .buttons {
    display: flex; /* hiển thị các button khi hover vào ảnh */
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.item-wrapper {
    position: relative;
}

.item-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
    /* đặt giá trị z-index cho item-wrapper::before nhỏ hơn giá trị z-index của các nút button */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.item-wrapper:hover::before {
    opacity: 1;
}
.pagination {
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0px 0px;
  }
  
  .pagination li {
    list-style: none;
    margin-left: 10px;
  }
  
  .pagination li:first-child {
    margin-left: 0;
  }
  
  .pagination a {
    display: block;
    padding: 5px 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .pagination a:hover {
    background-color: #333;
    color: #fff;
  }
  